<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PPS</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="container">
        <div class="ip-list">
            <h2 id="heading">List of IPs</h2>
            <div class="form-divider"></div>
            <form id="ipForm"></form>
        </div>
        <div class="divider"></div>
        <div class="folder-list">
            <h2 id="heading">List of Folders</h2>
            <div class="control-buttons">
                <div class="btns">
                    <div class="arrow" id="leftArrow">🔙</div>
                    <button class="upload-button" id="database">Database</button>
                </div>
                <button class="upload-button" id="uploadButton">Upload</button>
            </div>
            <h2 id="local-path"></h2>
            <div class="form-divider"></div>
            <form class="folder-form"></form>
            <div class="form-divider"></div>
            <div class="sub-folder-form">
                <div class="subfolder-list"></div>

                <div class="subfile-form">
                    <div class="subfile-list"></div>
                </div>
            </div>
            <div class="subsub-folder-form">
                <div class="subsubfolder-list"></div>
                <div class="subsubfile-form">
                    <div class="subsubfile-list"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const {
            ipcRenderer
        } = require('electron');
        const path = require('path');
        let selectedMainFolder = '';
        let selectedSubFolder = '';
        let selectedfilePathDir = '';
        let renderID = '';



        ipcRenderer.on('initial-data', (event, data) => {
            const ipList = data.ipList;

            const ipForm = document.getElementById('ipForm');
            ipList.forEach(ip => {
                const ipBox = document.createElement('div');
                ipBox.classList.add('ip-box');

                const statusIcon = ip.status === 'active' ? '✔️' : '❌';
                const isDisabled = statusIcon === '❌';

                ipBox.innerHTML = `
                    <div>
                        <input type="checkbox" id="${ip.ip}" name="ip" value="${ip.ip}" ${isDisabled ? 'disabled' : ''}>
                        <label for="${ip.ip}">${ip.aliance_name}</label>
                    </div>
                    <div>${statusIcon}</div>
                `;
                ipForm.appendChild(ipBox);

                ipBox.querySelector('input[type="checkbox"]').addEventListener('click', (event) => {
                    const selectedIP = event.target.value;
                    if (!isDisabled) {
                        ipcRenderer.send('selected-ips', selectedIP);
                        console.log(`Selected IP: ${selectedIP}`);

                        document.querySelectorAll('.ip-box').forEach(box => {
                            box.classList.remove('selected');
                        });
                        ipBox.classList.add('selected');
                    }
                });

            });
        });

        ipcRenderer.on('database-created', (event, data) => {
            const mainFolderList = data.folders
            console.log(data.count)
            const folderForm = document.querySelector('.folder-form');
            const localpathBanner = document.getElementById('local-path');
            localpathBanner.innerText = `🖥️ > Content\\`;
            mainFolderList.forEach(folder => {
                const folderBox = document.createElement('div');
                folderBox.classList.add('folder-box');
                folderBox.innerHTML = `
                    <div>
                        <label for="folder">${folder}</label>
                    </div>
                `;
                folderForm.appendChild(folderBox);


                folderBox.addEventListener('click', () => {
                    renderID = "folder-contents"
                    ipcRenderer.send('selected-folder', folder, renderID);
                    console.log(`Selected Folder: ${folder}`);
                    selectedMainFolder = folder;

                    document.querySelectorAll('.folder-box').forEach(box => {
                        box.classList.remove('selected');
                    });
                    folderBox.classList.add('selected');
                });
            });
        });


        ipcRenderer.on('folder-contents', (event, data) => {
            const {
                folders,
                regularFiles
            } = data;

            const subFolderList = document.querySelector('.subfolder-list');
            subFolderList.innerHTML = ''; // Clear previous subfolders

            const subFileForm = document.querySelector('.subfile-form');
            subFileForm.innerHTML = `
            <div class="file-input-container">
                <button class="upload-button" id="Select-All">Select All</button>
            <button class="upload-button" id="delete">delete</button>
                <input type="file" id="fileInput" class="file-input" multiple/>
                <label for="fileInput" class="file-label">Add files</label>
            </div>

            <div class="subfile-list"></div> 
            `;

            const subFileList = subFileForm.querySelector('.subfile-list');
            const deleteButton2 = subFileForm.querySelector('#delete');
            const SelectAllBtn = subFileForm.querySelector('#Select-All');
            subFileList.innerHTML = ''; // Clear previous files

            folders.forEach(folder => {
                const subFolderBox = document.createElement('div');
                subFolderBox.classList.add('folder-box');
                subFolderBox.innerHTML = `
                    <div>
                        <label for="folder">${folder}</label>
                    </div>
                `;
                subFolderList.appendChild(subFolderBox);

                subFolderBox.addEventListener('click', () => {
                    const fullFolderPath = path.join(selectedMainFolder, folder);
                    selectedSubFolder = fullFolderPath;
                    renderID = "subfolder-contents"
                    ipcRenderer.send('selected-subfolder', fullFolderPath, renderID);
                    console.log(`Selected Subfolder: ${fullFolderPath}`);
                    document.querySelectorAll('.subfolder-list .folder-box').forEach(box => {
                        box.classList.remove('selected');
                    });
                    subFolderBox.classList.add('selected');

                    // Add form-divider after the subfolder list is populated, if not already added
                    if (!subFolderList.nextElementSibling || !subFolderList.nextElementSibling.classList.contains('form-divider')) {
                        subFolderList.insertAdjacentHTML('afterend', '<div class="form-divider"></div>');
                    }

                    subFileForm.innerHTML = '';
                });
            });

            // Event listener for subfile input
            document.getElementById('fileInput').addEventListener('change', RequestFileUpload);

            RenderFileList(regularFiles, subFileList, deleteButton2, SelectAllBtn)
                // Clear subsubfolder-list and subsubfile-list when changing folders
            const subSubFolderList = document.querySelector('.subsubfolder-list');
            subSubFolderList.innerHTML = ''; // Clear previous sub-subfolders

            const subSubFileList = document.querySelector('.subsubfile-form');
            subSubFileList.innerHTML = ''; // Clear previous sub-subfolder files
        });


        ipcRenderer.on('subfolder-contents', (event, data) => {
            const {
                folders,
                regularFiles
            } = data;

            const subSubFolderList = document.querySelector('.subsubfolder-list');
            subSubFolderList.innerHTML = ''; // Clear previous sub-subfolders

            const subsubFileForm = document.querySelector('.subsubfile-form');
            subsubFileForm.innerHTML = `
            <div class="file-input-container">
                <button class="upload-button" id="Select-All">Select All</button>
                <button class="upload-button" id="delete">delete</button>
                <input type="file" id="fileInput" class="file-input" multiple/>
                <label for="fileInput" class="file-label">Add files</label>
            </div>  
            <div class="subsubfile-list"></div>
            `;

            const subSubFileList = document.querySelector('.subsubfile-list');
            const deleteButton2 = subsubFileForm.querySelector('#delete');
            const SelectAllBtn = subsubFileForm.querySelector('#Select-All');
            subSubFileList.innerHTML = ''; // Clear previous sub-subfolder files

            folders.forEach(folder => {
                const subFolderBox = document.createElement('div');
                subFolderBox.classList.add('folder-box');
                subFolderBox.innerHTML = `
                    <div>
                        <label for="folder">${folder}</label>
                    </div>
                `;
                subSubFolderList.appendChild(subFolderBox);

                subFolderBox.addEventListener('click', () => {
                    const fullFolderPath = path.join(selectedSubFolder, folder);
                    renderID = "subsubfolder-files"

                    ipcRenderer.send('selected-subsubfolder', fullFolderPath, renderID);
                    console.log(`Selected Sub-Subfolder: ${fullFolderPath}`);

                    document.querySelectorAll('.subsubfolder-list .folder-box').forEach(box => {
                        box.classList.remove('selected');
                    });
                    subFolderBox.classList.add('selected');

                    subSubFileList.innerHTML = '';
                });
            });

            // Event listener for subfile input
            document.getElementById('fileInput').addEventListener('change', RequestFileUpload);


            RenderFileList(regularFiles, subSubFileList, deleteButton2, SelectAllBtn)


            // Add form-divider after the subfolder list is populated, if not already added
            if (!subSubFolderList.nextElementSibling || !subSubFolderList.nextElementSibling.classList.contains('form-divider')) {
                subSubFolderList.insertAdjacentHTML('afterend', '<div class="form-divider"></div>');
            }

        });

        ipcRenderer.on('subsubfolder-files', (event, data) => {
            const {
                folders,
                regularFiles
            } = data;
            console.log(regularFiles)
            const subSubFileList = document.querySelector('.subsubfile-list');
            subSubFileList.innerHTML = '';

            // Ensure deleteButton2 and SelectAllBtn are defined
            const subsubFileForm = document.querySelector('.subsubfile-form');
            const deleteButton2 = subsubFileForm.querySelector('#delete');
            const SelectAllBtn = subsubFileForm.querySelector('#Select-All');


            RenderFileList(regularFiles, subSubFileList, deleteButton2, SelectAllBtn)

        });


        function RenderFileList(regularFiles, fileListForm, deleteButton2, SelectAllBtn) {
            regularFiles.forEach(file => {
                // Disable the delete button initially and set its background color to brown
                if (deleteButton2) {
                    deleteButton2.disabled = true;
                    deleteButton2.classList.add('delete-button');
                }
                const fileItem = document.createElement('div');
                fileItem.classList.add('file-list-container');

                const file_checkbox = document.createElement('input');
                file_checkbox.classList.add('file-list-container-checkbox');
                file_checkbox.type = "checkbox";
                file_checkbox.value = file;
                file_checkbox.id = "file_checkbox_id";
                fileItem.appendChild(file_checkbox)
                deleteFileSelection(file_checkbox, file)
                    // Create the file name element
                const fileName = document.createElement('div');
                fileName.classList.add('file-list-data-Container');

                // Determine file type based on extension
                const fileExt = file.split('.').pop().toLowerCase(); // Get file extension
                let iconUrl = '';

                if (['mp3', 'wav', 'ogg'].includes(fileExt)) {
                    iconUrl = './assets/music.png'; // Replace with actual path to music icon
                } else if (['mp4', 'avi', 'mkv', 'mpg', 'm4v'].includes(fileExt)) {
                    iconUrl = './assets/video.png'; // Replace with actual path to video icon
                } else if (['jpg', 'jpeg', 'png', 'gif', 'ico'].includes(fileExt)) {
                    iconUrl = './assets/images.png'; // Replace with actual path to image icon
                } else {
                    iconUrl = './assets/default.png';
                }

                // Create image element and append before file name
                if (iconUrl !== '') {
                    const iconImg = document.createElement('img');
                    iconImg.classList.add('fileiconImg');
                    iconImg.src = iconUrl;
                    iconImg.classList.add('file-icon');
                    fileName.appendChild(iconImg);
                }

                const FileDataSpan = document.createElement('div');
                FileDataSpan.classList.add('FileDataSpan')
                FileDataSpan.innerText = file;
                fileName.appendChild(FileDataSpan);

                fileItem.appendChild(fileName);
                deleteFileSelection(fileName, file)

                fileListForm.appendChild(fileItem);
                //console.log(file);
                if (deleteButton2) {
                    deleteButton2.addEventListener('click', deleteSelectedFiles);
                }

                if (SelectAllBtn) {
                    SelectAllBtn.addEventListener('click', () => {
                        selectAllFiles();
                        file_checkbox.style.display = 'none';
                    });
                }

                fileName.addEventListener('click', () => {
                    const checkboxes = document.querySelectorAll('.file-list-container-checkbox');
                    checkboxes.forEach(checkbox => {
                        checkbox.style.display = 'block'
                        checkbox.checked = false;
                    });
                })

                file_checkbox.addEventListener('click', () => {
                    if (SelectAllBtn) {
                        SelectAllBtn.style.display = 'block';
                    }
                    fileName.classList.add('selected');
                    if (deleteButton2) {
                        deleteButton2.disabled = false;
                        deleteButton2.classList.add('enabled'); // Add the enabled class to apply hover effect
                    }
                });
            });
        }


        function RequestFileUpload(event) {
            const files = event.target.files;
            if (files.length > 0) {
                const filePaths = Array.from(files).map(file => file.path);
                const fileSizes = Array.from(files).map(file => file.size);
                console.log('Selected files (subfile):', filePaths, fileSizes);
                // Send the file paths to the main process for further processing
                ipcRenderer.send('upload-files', {
                    filePaths,
                    fileSizes
                });
            }
        }

        ipcRenderer.on('files-uploaded-now-reload', () => {
            console.log("reload folder")
            ipcRenderer.send('refresh-folder-fileList', selectedfilePathDir);
        });



        ipcRenderer.on('local-path', (event, localPath) => {
            console.log('localpath => ', localPath);
            selectedfilePathDir = localPath
            const localpathBanner = document.getElementById('local-path');
            localpathBanner.innerText = `🖥️ > ${localPath}`;
        });



        document.getElementById('uploadButton').addEventListener('click', () => {
            console.log("Upload button clicked");
            // Add your code here for upload button action
        });

        document.getElementById('database').addEventListener('click', () => {
            console.log("Database button clicked");
            ipcRenderer.send('create-database');
        });

        // Function to handle file selection and deselection
        function handleFileSelection(fileItemsSelector) {
            document.querySelectorAll(fileItemsSelector).forEach(fileItem => {
                fileItem.addEventListener('click', () => {
                    document.querySelectorAll(fileItemsSelector).forEach(item => {
                        item.classList.remove('selected');
                    });
                    fileItem.classList.add('selected');
                    //console.log(`Selected file: ${fileItem.innerText}`);
                });
            });
        }
    </script>
    <script src="./deletefile.js"></script>
</body>

</html>