<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PPS</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="container">
        <div class="ip-list">
            <h2 id="heading">List of IPs</h2>
            <div class="form-divider"></div>
            <form id="ipForm"></form>
        </div>
        <div class="divider"></div>
        <div class="folder-list">
            <h2 id="heading">List of Folders</h2>
            <div class="control-buttons">
                <div class="btns">
                    <div class="arrow" id="leftArrow">🔙</div>
                    <button class="upload-button" id="database">Database</button>
                    <button class="upload-button" id="delete">delete</button>
                </div>
                <button class="upload-button" id="uploadButton">Upload</button>
            </div>
            <h2 id="local-path"></h2>
            <div class="form-divider"></div>
            <form class="folder-form"></form>
            <div class="form-divider"></div>
            <div class="sub-folder-form">
                <div class="subfolder-list"></div>

                <div class="subfile-form">
                    <div class="subfile-list"></div>
                </div>
            </div>
            <div class="subsub-folder-form">
                <div class="subsubfolder-list"></div>
                <div class="subsubfile-form">
                    <div class="subsubfile-list"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const {
            ipcRenderer
        } = require('electron');
        const path = require('path');
        let selectedMainFolder = '';
        let selectedSubFolder = '';
        let selectedfilePathDir = '';
        let selectedfilename = '';
        let selectedFiles = []; // Array to hold selected file paths for deletion
        let controlKeyPressed = false; // Track whether the control key is pressed
        let isDragging = false; // Track whether a drag selection is in progress


        ipcRenderer.on('initial-data', (event, data) => {
            const ipList = data.ipList;

            const ipForm = document.getElementById('ipForm');
            ipList.forEach(ip => {
                const ipBox = document.createElement('div');
                ipBox.classList.add('ip-box');

                const statusIcon = ip.status === 'active' ? '✔️' : '❌';
                const isDisabled = statusIcon === '❌';

                ipBox.innerHTML = `
                    <div>
                        <input type="checkbox" id="${ip.ip}" name="ip" value="${ip.ip}" ${isDisabled ? 'disabled' : ''}>
                        <label for="${ip.ip}">${ip.aliance_name}</label>
                    </div>
                    <div>${statusIcon}</div>
                `;
                ipForm.appendChild(ipBox);

                ipBox.querySelector('input[type="checkbox"]').addEventListener('click', (event) => {
                    const selectedIP = event.target.value;
                    if (!isDisabled) {
                        ipcRenderer.send('selected-ips', selectedIP);
                        console.log(`Selected IP: ${selectedIP}`);

                        document.querySelectorAll('.ip-box').forEach(box => {
                            box.classList.remove('selected');
                        });
                        ipBox.classList.add('selected');
                    }
                });

            });
        });

        ipcRenderer.on('database-created', (event, data) => {
            const mainFolderList = data.folders
            console.log(data.count)
            const folderForm = document.querySelector('.folder-form');
            const localpathBanner = document.getElementById('local-path');
            localpathBanner.innerText = `🖥️ > Content\\`;
            mainFolderList.forEach(folder => {
                const folderBox = document.createElement('div');
                folderBox.classList.add('folder-box');
                folderBox.innerHTML = `
                    <div>
                        <label for="folder">${folder}</label>
                    </div>
                `;
                folderForm.appendChild(folderBox);

                folderBox.addEventListener('click', () => {
                    ipcRenderer.send('selected-folder', folder);
                    console.log(`Selected Folder: ${folder}`);
                    selectedMainFolder = folder;
                });
                handleFileSelection('.folder-box');
            });
        });



        ipcRenderer.on('folder-contents', (event, data) => {
            const {
                folders,
                regularFiles
            } = data;

            const subFolderList = document.querySelector('.subfolder-list');
            subFolderList.innerHTML = ''; // Clear previous subfolders

            const subFileForm = document.querySelector('.subfile-form');
            subFileForm.innerHTML = `
            
            <div class="file-input-container">
                <input type="file" id="fileInput" class="file-input" multiple/>
                <label for="fileInput" class="file-label">Add file</label>
            </div> 
            <div class="subfile-list"></div> 
            `;

            const subFileList = subFileForm.querySelector('.subfile-list');
            subFileList.innerHTML = ''; // Clear previous files

            folders.forEach(folder => {
                const subFolderBox = document.createElement('div');
                subFolderBox.classList.add('folder-box');
                subFolderBox.innerHTML = `
                    <div>
                        <label for="folder">${folder}</label>
                    </div>
                `;
                subFolderList.appendChild(subFolderBox);

                subFolderBox.addEventListener('click', () => {
                    const fullFolderPath = path.join(selectedMainFolder, folder);
                    selectedSubFolder = fullFolderPath;
                    ipcRenderer.send('selected-subfolder', fullFolderPath);
                    console.log(`Selected Subfolder: ${fullFolderPath}`);

                    subFileForm.innerHTML = '';
                });
                handleFileSelection('.folder-box');
            });

            // Event listener for subfile input
            document.getElementById('fileInput').addEventListener('change', handleSubfileUpload);
            // Add form-divider after the subfolder list is populated, if not already added
            if (!subFolderList.nextElementSibling || !subFolderList.nextElementSibling.classList.contains('form-divider')) {
                subFolderList.insertAdjacentHTML('afterend', '<div class="form-divider"></div>');
            }
            regularFiles.forEach(file => {
                const fileItem = document.createElement('div');
                fileItem.classList.add('file-list-data');
                fileItem.innerText = file;
                subFileList.appendChild(fileItem);
                deleteFileSelection(fileItem, file)
            });

            // Clear subsubfolder-list and subsubfile-list when changing folders
            const subSubFolderList = document.querySelector('.subsubfolder-list');
            subSubFolderList.innerHTML = ''; // Clear previous sub-subfolders
            const subSubFileList = document.querySelector('.subsubfile-form');
            subSubFileList.innerHTML = ''; // Clear previous sub-subfolder files
        });


        ipcRenderer.on('subfolder-contents', (event, data) => {
            const {
                folders,
                regularFiles
            } = data;

            const subSubFolderList = document.querySelector('.subsubfolder-list');
            subSubFolderList.innerHTML = ''; // Clear previous sub-subfolders

            const subsubFileForm = document.querySelector('.subsubfile-form');
            subsubFileForm.innerHTML = `
            
            <div class="file-input-container">
                <input type="file" id="fileInput" class="file-input" multiple/>
                <label for="fileInput" class="file-label">Add file</label>
            </div>  
            <div class="subsubfile-list"></div>
            `;

            const subSubFileList = document.querySelector('.subsubfile-list');

            subSubFileList.innerHTML = ''; // Clear previous sub-subfolder files

            folders.forEach(folder => {
                const subFolderBox = document.createElement('div');
                subFolderBox.classList.add('folder-box');
                subFolderBox.innerHTML = `
                    <div>
                        <label for="folder">${folder}</label>
                    </div>
                `;
                subSubFolderList.appendChild(subFolderBox);

                subFolderBox.addEventListener('click', () => {
                    const fullFolderPath = path.join(selectedSubFolder, folder);
                    ipcRenderer.send('selected-subsubfolder', fullFolderPath);
                    console.log(`Selected Sub-Subfolder: ${fullFolderPath}`);

                    subSubFileList.innerHTML = '';
                });
                handleFileSelection('.folder-box');
            });

            // Event listener for subfile input
            document.getElementById('fileInput').addEventListener('change', handleSubfileUpload);

            regularFiles.forEach(file => {
                const fileItem = document.createElement('div');
                fileItem.classList.add('file-list-data');
                fileItem.innerText = file;
                subSubFileList.appendChild(fileItem);

                deleteFileSelection(fileItem, file)
            });
            // Add form-divider after the subfolder list is populated, if not already added
            if (!subSubFolderList.nextElementSibling || !subSubFolderList.nextElementSibling.classList.contains('form-divider')) {
                subSubFolderList.insertAdjacentHTML('afterend', '<div class="form-divider"></div>');
            }
            handleFileSelection('.file-list-data');
        });

        ipcRenderer.on('subsubfolder-files', (event, files) => {
            const subSubFileList = document.querySelector('.subsubfile-list');
            subSubFileList.innerHTML = '';
            files.forEach(file => {
                const fileItem = document.createElement('div');
                fileItem.classList.add('file-list-data');
                fileItem.innerText = file;
                subSubFileList.appendChild(fileItem);

                deleteFileSelection(fileItem, file)
            });
            handleFileSelection('.file-list-data');
        });

        ipcRenderer.on('local-path', (event, localPath) => {
            console.log('localpath => ', localPath);
            selectedfilePathDir = localPath
            const localpathBanner = document.getElementById('local-path');
            localpathBanner.innerText = `🖥️ > ${localPath}`;
        });

        document.getElementById('uploadButton').addEventListener('click', () => {
            console.log("Upload button clicked");
            // Add your code here for upload button action
        });

        document.getElementById('database').addEventListener('click', () => {
            console.log("Database button clicked");
            ipcRenderer.send('create-database');
        });



        function handleSubfileUpload(event) {
            const files = event.target.files;
            if (files.length > 0) {
                const filePaths = Array.from(files).map(file => file.path);
                const fileSizes = Array.from(files).map(file => file.size);
                console.log('Selected files (subfile):', filePaths, fileSizes);
                // Send the file paths to the main process for further processing
                ipcRenderer.send('upload-files', {
                    filePaths,
                    fileSizes
                });
            }
        }



        // Function to handle file selection and deselection
        function handleFileSelection(fileItemsSelector) {
            document.querySelectorAll(fileItemsSelector).forEach(fileItem => {
                fileItem.addEventListener('click', () => {
                    document.querySelectorAll(fileItemsSelector).forEach(item => {
                        item.classList.remove('selected');
                    });
                    fileItem.classList.add('selected');
                    //console.log(`Selected file: ${fileItem.innerText}`);
                });
            });
        }

        // Event listener for Delete button click
        const deleteButton = document.getElementById('delete');
        deleteButton.addEventListener('click', deleteSelectedFiles);

        document.addEventListener('keydown', (event) => {
            console.log('Key pressed:', event.key);
            if (event.key === 'Delete') {
                deleteSelectedFiles();
            }
        });
        // Function to delete selected files
        function deleteSelectedFiles() {
            if (selectedFiles.length > 0) {
                selectedFiles.forEach(filePath => {
                    ipcRenderer.send('delete-request', {
                        filename: filePath
                    });
                });
                // Clear selected files array after deletion
                selectedFiles = [];
            }
        }

        document.addEventListener('keydown', (event) => {
            if ((event.ctrlKey || event.metaKey) && event.key === 'a' || event.key === 'A') {
                selectAllFiles();
            }
        });

        // Function to select all files
        function selectAllFiles() {
            const allFileItems = document.querySelectorAll('.file-list-data');
            selectedFiles = Array.from(allFileItems).map(fileItem => {
                fileItem.classList.add('selected');
                return path.join(selectedfilePathDir, fileItem.innerText.trim());
            });
            console.log('Selected all files:', selectedFiles);
        }

        // Event listener for handling file selection for deletion
        function deleteFileSelection(fileItem, file) {
            fileItem.addEventListener('click', (event) => {
                const selectfilePathPath = path.join(selectedfilePathDir, file);

                // Check if control key is pressed
                if (controlKeyPressed) {
                    if (selectedFiles.includes(selectfilePathPath)) {
                        // Deselect file if already selected
                        selectedFiles = selectedFiles.filter(filePath => filePath !== selectfilePathPath);
                        fileItem.classList.remove('selected');
                    } else {
                        // Select file if not already selected
                        selectedFiles.push(selectfilePathPath);
                        fileItem.classList.add('selected');
                    }
                } else {
                    // Clear selection and select only this file if control key is not pressed
                    selectedFiles = [selectfilePathPath];
                    const allFileItems = document.querySelectorAll('.file-list-data');
                    allFileItems.forEach(item => item.classList.remove('selected'));
                    fileItem.classList.add('selected');
                }

                console.log(`Selected files:`, selectedFiles);
            });
        }

        // Event listener to track control key state
        document.addEventListener('keydown', (event) => {
            if (event.key === 'Control' || event.key === 'Meta') {
                controlKeyPressed = true;
            }
        });

        document.addEventListener('keyup', (event) => {
            if (event.key === 'Control' || event.key === 'Meta') {
                controlKeyPressed = false;
            }
        });
    </script>
</body>

</html>