
.leftjourney {
  float: left;
  width: 40%; /* The width is 20%, by default */
  margin-left: 10%;
}

.rightjourney {
  float: left;
  width: 40%; /* The width is 20%, by default */
  height: auto;
}
.welfare{
	overflow:hidden;
	top:15px;
	width:device-width; 
	z-index:1 ;
	margin-top: 30px;
}
.linev{
  height: 70px;
  border-left: 6px solid green;
  margin-left: 175px;
  margin-bottom: 10px;
}
.circle{
  height: 60px;
  width: 80px;
  background-color:green;
  border-radius: 25%;
  margin-left: 40px;
  display: inline-block;
  font-size: 14px;
  padding-top: 20px;
  color: white;
  text-align: center;

}
.text{
	margin-left: 90px;
  margin-top: -35px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;border: 3px solid black;
}

td, th {
  border: none;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: inherit;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  
.leftjourney {
  float: left;
  width: 100%; /* The width is 20%, by default */
  margin-left: 10%;
}

.rightjourney {
  float: left;
  width: 100%; /* The width is 20%, by default */
  height: auto;
}
.welfare{
  overflow:hidden;
  top:15px;
  width:device-width; 
  z-index:1 ;
  margin-top: 30px;
}
/* not in use  */
/* .linev{
  height: 70px;
  border-left: 6px solid green;
  margin-left: 265px;
  margin-bottom: 10px;
} */
/* .circle{
  height: 60px;
  width: 80px;
  background-color:green;
  border-radius: 25%;
  margin-left: 30%;
  display: inline-block;
  font-size: 14px;
  padding-top: 20px;
  color: white;
  text-align: center;
  align-self: center;
} */
.text{
  margin-left: 90px;
  margin-top: -35px;
}

}body{
background : linear-gradient(to right, #ff9933 0%, #33ccff 100%);
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans Tamil', sans-serif;
font-family: 'Noto Sans Telugu', sans-serif;
font-family: 'Noto Sans Kannada', sans-serif;
font-family: 'Noto Sans Bengali', sans-serif;
font-family: 'Noto Sans Malayalam', sans-serif;
font-family: 'Noto Sans Gujarati', sans-serif;
font-family: 'Noto Sans Gurmukhi', sans-serif;
font-family: 'Noto Sans Oriya', sans-serif; 
}
