/* src/Footer.css */
.footer {
  display: flex;
  
   margin-top : 30px;
    /* Change to your preferred color */
    color: black;
    text-align: left;
    padding: 10px 20px; /* Adjust padding as needed */
  }
  
  .footer-logo {
    height: 40px; /* Adjust logo size */
    margin-right: 10px; /* Space between logo and text */
  }
  